force-app/main/default/flows/API_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallFakeStoreAPI</name>
        <label>Call Fake Store API</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>FakeStoreAPI.Fake Store Get Products</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>FakeStoreAPI.Fake Store Get Products</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>imageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallFakeStoreAPI.2XX.image</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>API Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CallFakeStoreAPI</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-24</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>imageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
