force-app/main/default/flows/AssignNullContactsToDummyAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ContactAssign</name>
        <label>Contact Assign</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughContacts.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateDummyAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactUpdateAll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughContacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Assign Null Contacts to Dummy Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Null Contacts to Dummy Account</label>
    <loops>
        <name>LoopThroughContacts</name>
        <label>Loop Through Contacts</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>GetNullAccountWithContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_null_contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateDummyAccount</name>
        <label>Create Dummy Account</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>GetNullAccountWithContact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <stringValue>12341234</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Dummy Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>01988888888</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetNullAccountWithContact</name>
        <label>Get Null Account with Contact</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_null_contact</name>
        <label>Update all null contact</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>contactUpdateAll</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateDummyAccount</targetReference>
        </connector>
        <object>Contact</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-07-03</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactUpdateAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
