force-app/main/default/flows/SearchProductFromAPI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSelectedDataToApex</name>
        <label>SendSelectedDataToApex</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>SearchDataFromAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HomeScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LWC_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <elementReference>Select_Product</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>price</name>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SearchDataFromAPI</nameSegment>
        <outputParameters>
            <assignToReference>categoryWiseData</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>electronics</name>
        <choiceText>electronics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>electronics</stringValue>
        </value>
    </choices>
    <choices>
        <name>jewelery</name>
        <choiceText>jewelery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>jewelery</stringValue>
        </value>
    </choices>
    <choices>
        <name>men_s_clothing</name>
        <choiceText>men&apos;s clothing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>men&apos;s clothing</stringValue>
        </value>
    </choices>
    <choices>
        <name>men_s_clothings</name>
        <choiceText>men&apos;s clothing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>men&apos;s clothing</stringValue>
        </value>
    </choices>
    <choices>
        <name>women_s_clothing</name>
        <choiceText>women&apos;s clothing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>women&apos;s clothing</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Search Product From API {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Product From API</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>HomeScreen</name>
        <label>Home Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SendSelectedDataToApex</targetReference>
        </connector>
        <fields>
            <name>HomeScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HomeScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Product</name>
                    <choiceReferences>electronics</choiceReferences>
                    <choiceReferences>jewelery</choiceReferences>
                    <choiceReferences>women_s_clothing</choiceReferences>
                    <choiceReferences>men_s_clothing</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Select_Product</elementReference>
                    </defaultValue>
                    <fieldText>Select Product</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HomeScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Price</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Price</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HomeScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Name</elementReference>
                    </defaultValue>
                    <fieldText>Product Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>spacebar</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>searchData</name>
            <extensionName>c:searchDataFormAPI</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productData</name>
                <value>
                    <elementReference>categoryWiseData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <elementReference>Product_Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>price</name>
                <value>
                    <elementReference>Price</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>categoryWiseData</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LWC_Screen</name>
        <label>LWC Screen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 16px; font-family: tahoma;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HomeScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>categoryWiseData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
